$lilac: #8789C0;
$lilac-medium: #BEC2E0;
$lilac-light: #F4FAFF;

$black: #08090A;

$gray-dark: #272727;
$gray-light: #ddd;
$gray-lighter: #F3F3F7;

$white: white;

$red: #BC5050;

$yellow: #D9C34A;

$mint: #A5E8C2;