body {
  background-color: #f4faff;
  font-family: 'Azeret Mono', monospace;
  padding: 0; 
  margin: 0 
}

table {
  font-size: 14px;
  width: 100%;
}

tr {
  background-color: #fff;
  line-height: 30px;
}

th, td {
  border-bottom: 1px solid #ddd;
}

th {
  text-align: left;
}

p {
  font-family: 'Azeret Mono', monospace;
  font-size: 14px;
}

h1, h2, h3 {
  font-family: 'Anonymous Pro', monospace;
  color: #8789c0;
}

.headerBar {
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
}


.navBar {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#mainNav {
  background-color: #8789C0;
}

#subNav {
  background-color: #BEC2E0;
}

#mainNav a {
  color: white;
}

#subNav a {
  color: white;
}

.navBar a {
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
}

.wrapper {
  margin-top: 10px;
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

a:active {
  color: #BC5050;
}

button {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #8789C0;
  font-family: 'Anonymous Pro', monospace;
  font-weight: bold;
}

.btn-group:after {
  display: table;
}

form {
  display: inline;
}