{% extends "layout.html" %}
{% set active_page = 'create' %}
{% set active_sub = "create_manufacturer" %}
{% import "components.html" as components %}
{% set sub_navigation_bar = [
('/create/device', 'create_device', 'Device'),
('/create/manufacturer', 'create_manufacturer', 'Manufacturer'),
('/create/production', 'create_production', 'Production')
] -%}
{% set form_content = [
  ("text", {
    "name": "name",
    "label": "Name"
  })
  ] %}
{% block head %}
<script>
  function check(form) {
    if (form.name.value.length < 2) {
      alert("Name of manufacturer must be at least 2 characters long");
      return false;
    }
    return true;
  }
</script>
{% endblock %}
{% block content %}
<div class="wrapper">
  <div class="container{% if session.username is not defined %} container--blurred{% endif %}">
    <h2>Add a manufacturer</h2>
    {{ components.form(form_content, "creation-form", "/create/manufacturer", "Add manufacturer") }}
  </div>
</div>
{% endblock %}