{% extends "layout.html" %}
{% set active_page = 'create' %}
{% set sub_navigation_bar = [
  ('/create/device', 'create_device', 'Device'),
  ('/create/manufacturer', 'create_manufacturer', 'Manufacturer'),
  ('/create/production', 'create_production', 'Production')
  ] -%}
{% block content %}
<div class="wrapper">
  <h2>Add a device</h2>
  <form action="/create/device" method="POST">
    <p>Manufacturer:<br>
      <select type="number" name="manufacturer_id">
        {% for manufacturer in manufacturers %}
        <option value={{manufacturer.id}}>{{ manufacturer.name }}</option>
        {% endfor %}
      </select>
    </p>
    <p>Model:<br>
      <input type="text" name="model">
    </p>
    <button type="submit" {% if session.username is not defined %} disabled {% endif %}>Add device</button>
  </form>
</div>
{% endblock %}