{% extends "layout.html" %}
{% import "components.html" as components %}
{% set active_page = "create" %}
{% set active_sub = "create_device" %}
{% set sub_navigation_bar = [
('/create/device', 'create_device', 'Device'),
('/create/manufacturer', 'create_manufacturer', 'Manufacturer'),
('/create/production', 'create_production', 'Production')
] -%}
{% set form_content = [
  ("select", {
    "name": "manufacturer_id",
    "label": "Manufacturer",
    "options": manufacturers
  }),
  ("text", {
    "name": "model",
    "label": "Model"
  })
  ] %}
{% block content %}
<div class="wrapper">
  <div class="container{% if session.username is not defined %} container--blurred{% endif %}">
    <h2>Add a device</h2>
    {{ components.form(form_content, "creation-form", "/create/device", "Add device", session.user_id is not defined) }}
  </div>
</div>
{% endblock %}