{% extends "layout.html" %}
{% import "components.html" as components %}
{% set active_page = 'create' %}
{% set form_content = [
  ("text", {
    "name": "serialnum",
    "label": "Serial number"
  })
  ] %}
{% block content %}
<div class="wrapper">
  <div class="container{% if session.username is not defined %} container--blurred{% endif %}">
    <h2>Add inventory entry</h2>
    <h3>{{ device.model }} by {{ device.name }}</h3>
    {{ components.form(form_content, "creation-form", "/create/inventory/%s" % device.id, "Add to inventory", session.user_id is not defined) }}   
  </div>
</div>
{% endblock %}