{% extends "layout.html" %}
{% block content %}
<div class="wrapper">
  <h3>{{ device.name }}</h3>
  <h2>{{ device.model }}</h2>
  <p>The following {{ device.count }} entries were found in inventory:</p>
  
  <div calss="btn-group">
    <form action="{{ '/create/inventory/%s'%device.id }}">
      <button type="submit">Add inventory Entry</button>
   </form>
   <form action="{{ '/remove/%s'%device.id }}">
    <button type="submit">Remove Device</button>
  </form>
  </div>

  <table>
    <tr>
      <th>Id</th>
      <th>Serial number</th>
      <th>Available</th>
    </tr>
    {% for entry in inventory %}
    <tr>
      <td>{{ entry.id }}</td>
      <td>{{ entry.serialnum }}</td>
      <td>{% if entry.available %}✅{% else %}❌{% endif %}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}