{% extends "layout.html" %}
{% block content %}
<div class="wrapper">
  <h2>{{ device.name }}</h2>
  <h1>{{ device.model }}</h1>
  <p>Device added to inventory by {{ device.creator }}.</p>

  {% if inventory|length > 0 %}
  <p>The following {{ device.count }} entries were found in inventory:</p>
  <table>
    <tr>
      <th>Id</th>
      <th>Serial number</th>
      {% if production_id %}
      <th>Reserve</th>
      {% endif %}
    </tr>
    {% for entry in inventory %}
    <tr>
      <td>{{ entry.id }}</td>
      <td>{{ entry.serialnum }}</td>
      {% if production_id %}
      <td><a href="{{ '/reserve/%s?production=%s' % (device.id, production_id) }}">Reserve</a></td>
      {% endif %}

    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>No entries in the inventory for this device.</p>
  {% endif %}
  
  <div calss="btn-group">
    <form action="{{ '/create/inventory/%s'%device.id }}">
      <button type="submit">Add inventory Entry</button>
   </form>
   <form action="{{ '/remove/%s'%device.id }}">
    <button type="submit">Remove Device</button>
  </form>
  </div>
{% endblock %}