{% extends "layout.html" %}
{% import "components.html" as components %}
{% block head %}
<script>
  function deleteButton() {
    const button = document.getElementById("action-bar-confirm")
    var count = 0

    button.addEventListener("click", () => {
      if (count > 0) {
        window.location.href = "/remove/{{ device.id }}"
      }

      if (count == 0) {
        button.innerHTML = "❌ Delete now"
        count += 1
      }
    })
  }
  document.addEventListener("DOMContentLoaded", deleteButton)
</script>
{% endblock %}
{% set action_bar_content = [
  ("/create/inventory/%s"%device.id, "create", "➕ Create entry"),
  ("/edit/device/%s"%device.id, "edit", "🖌 Edit"),
  ("/remove/%s"%device.id, "destructive_confirm", "🗑 Delete device")
  ] -%}
{% block content %}
{{ components.equipment_title_bar(device.model, device.name, device.creator, device.count) }}
<div class="wrapper">
  {{ components.action_bar(action_bar_content) }}
  {% if inventory|length > 0 %}
  {% if session.production_id %}
  <form action="{{ "/reserve/%s"%session.production_id }}" method="POST">
  {% endif %}
  <table class="equipment-table">
    <tr>
      <th>Serial number</th>
      {% if session.production_id %}
      <th>Reserve</th>
      {% endif %}
    </tr>
    {% for entry in inventory %}
    <tr>
      <td>{{ entry.serialnum }}</td>
      {% if session.production_id and availability %}
      <td>{% if availability[loop.index0] == 0 %}<input type="checkbox" value="1" name="{{ entry.id }}">{% elif availability[loop.index0] == 1 %}<p>Not available</p>{% else %}<input type="checkbox" value="1" name="{{ entry.id }}" checked>{% endif %}<input type='hidden' value="0" name="{{ entry.id }}"></td>
      {% endif %}

    </tr>
    {% endfor %}
  </table>
  {% if session.production_id %}
  <button class="form-button form-button--send" type="submit">Save reservations</button>
  </form>
  {% endif %}
  {% else %}
  <p>No entries in the inventory for this device.</p>
  {% endif %}
</div>
{% endblock %}