{% set navigation_bar = [
("/", "equipment", "Equipment", "navigation-bar-link"),
("/productions", "productions", "Productions", "navigation-bar-link"),
("/create", "create", "Create", "navigation-bar-link"),
("/login", "login", "Log in", "navigation-bar-link navigation-bar-link--user")
] -%}
{% set active_page = active_page|default('equipment') -%}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Tech Inventory</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Azeret+Mono:wght@300;400;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/static/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block head %}{% endblock %}
</head>

<body>
  <div class="header-bar">
    <h1>Tech Inventory</h1>
  </div>

  <ul class="navigation-bar navigation-bar--main">
    {% for href, id, caption, class in navigation_bar %}
    <li class="{{ class }} {% if active_page==id %} navigation-bar-link--active {% endif %}"><a href="{{ href }}">
      {% if id=="login" and session.username %} Logged as {{ session.username }} {% else %} {{ caption }} {% endif %}</a></li>
    {% endfor %}
  </ul>
  {% if sub_navigation_bar %}
  <ul class="navigation-bar navigation-bar--sub">
    {% for href, id, caption in sub_navigation_bar %}
    <li class="navigation-bar-link{% if id == active_sub %} navigation-bar-sub-link--active{% endif %}"><a href="{{ href }}">{{ caption }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if notification %}
  {% if notification.type == "error" %}
  <div class="notification-bar notification-bar--error">{{ notification.message }}</div>
  {% elif notification.type == "reserving" %}
  <div class="notification-bar notification-bar--reserving">Reserving equipment for {{ session.production_name }}. <a href="/reserve">Stop reserving!</a></div>
  {% else %}
  <div class="notification-bar notification-bar--info">{{ notification.message }}</div>
  {% endif%}
  {% endif %}
  {% block content %}{% endblock %}
</body>

</html>