{% extends "layout.html" %}
{% set active_page = "login" %}
{% block content %}
<div class="wrapper">
  <div class="container">
    <h1>Log in</h1>
    <p>No account? <a href="/register">Register here</a>.</p>
    <form class="login-form" action="/login" method="POST">

      <p class="form-caption">Username:</p>
      <input class="form-input" type="text" name="username">

      <p class="form-caption">Password:</p>
      <input class="form-input" type="password" name="password">

      <button class="form-button form-button--send" type="submit">Log in</button>
    </form>
  </div>
</div>
{% endblock %}