{% extends "layout.html" %}
{% set active_page = 'productions' %}
{% block content %}
<div class="wrapper">
  <p>On this page you can find a list of all the productions.</p>
  <table class="equipment-table">
    <tr>
      <th>Name</th>
      <th>Starting</th>
      <th>Ending</th>
    </tr>
    {% for production in productions %}
    <tr>
      <td><a href="{{ '/productions/%s'%production.id }}">{{ production.name }}</a></td>
      <td>{{ production.starting }}</td>
      <td>{{ production.ending }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}