{% extends "layout.html" %}
{% set active_page = 'productions' %}
{% import "components.html" as components %}
{% import "scripts.html" as scripts %}
{% set action_bar_content = [
  ("/reserve?production=%s" % production.id, "create", "➕ Reserve equipment"),
  ("/edit/production/%s"%production.id, "edit", "🖌 Edit production"),
  ("", "destructive_confirm", "🗑 Delete production")
  ] -%}
{% block head %}
{{ scripts.confirmation_button("action-bar-confirm", "❌ Delete now", "/remove/") }}
{% endblock %}
{% block content %}
{{ components.production_title_bar(production.name, "%s - %s" % (production.starting, production.ending), production.creator, reservations|length) }}
<div class="wrapper">
  {{ components.action_bar(action_bar_content)}}
  {% if reservations|length > 0 %}
  <table class="equipment-table">
    <tr>
      <th>Model</th>
      <th>Manufacturer</th>
      <th>Serial number</th>
    </tr>
    {% for device in reservations %}
    <tr>
      <td>{{ device.model }}</td>
      <td>{{ device.manufacturer }}</td>
      <td>{{ device.serialnum }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>No equipment reserved for this production.</p>
  {% endif %}
</div>
{% endblock %}